{% extends "base.html" %}
{% block name_title %}Buscar pagamentos{% endblock %}
{% load static %}
{% block link_css %}
{% endblock %}

{% block content %}
{% include 'nav.html' %}

    <nav class="container light-blue lighten-3">
        <div class="nav-wrapper">
        <form>
            <div class="input-field">
            <input id="search" name="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            </div>
        </form>
        </div>
    </nav>

    <table class="container">
        <thead>
          <tr>
              <th>Nome</th>
              <th>Ações</th>
          </tr>
        </thead>

{% for pagamento in pagamentos %}

        <tbody>
          <tr>
            <td>{{ pagamento.nomePaciente }}</td>
            <td>
            <a href="{% url 'editarPagamento' pagamento.id %}"><i class="material-icons" style="color: black">edit</i></a>
            <a href="{% url 'deletarPagamento' pagamento.id %}"><i class="material-icons" style="color:red">delete_sweep</i></a>
            </td>
          </tr>
        </tbody>
    
{% endfor %}    
      </table>
{% endblock %}