<ul id="paci" class="dropdown-content">
  <li><a href="{% url 'criarPaciente' %}">Adicionar Paciente</a></li>
  <li><a href="{% url 'buscarPaciente' %}">Buscar Paciente</a></li>
</ul>

<ul id="pag" class="dropdown-content">
  <li><a href="{% url 'criarPagamento' %}">Adicionar pagamento</a></li>
  <li><a href="{% url 'buscarPagamento' %}">Buscar pagamento</a></li>
</ul>

  <nav class="teal darken-3">
    <div class="nav-wrapper">
        <div class="container">
        <a href="{% url 'dashboard'%}" class="brand-logo">
        <div class="logoImage"></div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="" data-target="paci"><i class="material-icons left">account_circle</i>Paciente<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="" data-target="pag"><i class="material-icons left">credit_card</i>Pagamentos<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        </div>  
    </div>
  </nav>

  <ul id="mobile-demo" class="sidenav">

    <li><a class="waves-effect" href="{% url 'dashboard' %}"><i class="material-icons">home</i>Home</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"><i class="material-icons">account_circle</i>Paciênte</a></li>
    <li><a class="waves-effect" href="{% url 'criarPaciente' %}">Adicionar Paciente</a></li>
    <li><a class="waves-effect" href="{% url 'buscarPaciente' %}">Buscar Paciente</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"><i class="material-icons">credit_card</i>Pagamentos</a></li>
    <li><a class="waves-effect" href="{% url 'criarPagamento' %}">Adicionar Pagamento</a></li>
    <li><a class="waves-effect" href="{% url 'buscarPagamento' %}">Buscar Pagamento</a></li>
  </ul>        